<!DOCTYPE html>
<html>
  <head>
    <h1 > Round-Robin Tournament</h1>
    <title>Tournament</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.1.1.js"></script>
  </head>
  <body>




  <div id="table" class="divTable">

      <div id="dRow" class="divRow">
        <div class="divCell"></div>
        <div class="divCell"></div>
        <div class="divCell"></div>
        <div class="divCell"></div>
      </div>
  </div>
<div class="divTable">
  <div class="divRow2">
    <div class="divCell2">

      <br>
      <form method="post">
        <select id="t1" name="user1">
          <option >0</option>
          <option >1</option>
          <option >2</option>
          <option >3</option>
        </select>
        <br>
        <br>
        <select id="score" name="res">
          <option > Won  </option>
          <option > Draw </option>
          <option > Lost </option>
        </select>
        <br>
        <br>
        <select id="opt" name="user2">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
        <br><br>
        <button id="btnSub" type="button">submit</button>

      </form>
    </div>
  </div>
</div>
  <script src="javascripts/jquery-3.1.1.js"></script>
  <script src="javascripts/client.js"></script>
  </body>
</html>
